ErrorDocument 404 http://localhost/magazine_web/404.html
# Turn Rewrite Engine On
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
# Rewrite for index.php script
RewriteRule ^index$ public_web.php [NC,L]
RewriteRule ^article$ article_details.php [NC,L]
RewriteRule ^save_comment$ App/Views/Article/save_comment.php [NC,L]
RewriteRule ^listing$ articles_listing.php [NC,L]